@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .disabled {
    @apply cursor-not-allowed pointer-events-none opacity-50
  }
  .vertical-center {
    @apply flex items-center;
  }
}

@layer base {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    appearance: none;
  }
  .animation-paused {
    animation-play-state: paused;
  }
  .animation-running {
    animation-play-state: running;
  }
  .CollapsibleContent {
    overflow: hidden;
  }

  .CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
  }
  .CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  
  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}